@import "./../node_modules/bootstrap-utilities/bootstrap-utilities.css";
@import './../node_modules/react-toastify/dist/ReactToastify.css';
@import './../node_modules/bootstrap/dist/css/bootstrap.css';

:root {
  --primary-color: #34cb79;
  --title-color: #322153;
  --text-color: #6c6c80;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

body,
input,
button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-family: Ubuntu;
}

.d-flex {
  display: flex !important;
}

.w-100 {
  width: 100% !important;
}

.ml-2 {
  margin-left: 1.5rem;
}

.p-0 {
  padding: 0 !important;
}

.mt-2 {
  margin-top: 1.5em !important;
}

.justify-content-end {
  justify-content: flex-end;
}
